﻿@model TechnicalTest.Web.Domain.Models.Employee

@{
    ViewBag.Title = "Calculations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var companyContribution = string.Format("{0:C}", Model.AnnualSalary * 0.21M);
}

<h2><strong>@ViewBag.EmpListCount</strong> employees are working in IT department.</h2>
<p>
    <h3>
       Employee <strong>@Model.FirstName @Model.LastName </strong> gets the highest pension contribution of <strong>@companyContribution</strong>. 
    </h3>
</p>



