﻿@model IEnumerable<TechnicalTest.Web.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Hire Date</th>
        <th>Department Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    
        @foreach (var employee in Model)
        {
            <tr>
                <th scope="row">@employee.Id</th>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.JobTitle</td>
                <td>@employee.HireDate</td>
                <td>@employee.DepartmentName</td>
                <td>@employee.Age</td>
            </tr>
        }

    </tbody>
</table>