﻿body {
    padding-top: 50px;
    padding-bottom: 70px;
}

.body-content {
    padding: 50px 15px 0 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}