﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EIS TechnicalTest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Calculate Info","Calculations","Home")</li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    
    <div class="navbar navbar-fixed-bottom">
        <hr/>
        <footer class="footer-content text-center">
            <p>&copy; @DateTime.Now.Year - EIS</p>
        </footer>
    </div>
</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/bootstrap.js"></script>

</body>
</html>